/*home page design*/
.hero {
  margin: rem(65px) 0;
  &__wrapper {
    @include mq(medium-large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__first-row {
    @include mq(medium-large) {
      max-width: rem(450px);
    }
  }
  &__heading {
    font-size: rem($h3);
    color: $secondary_text;
    @include mq(medium) {
      font-size: rem($h2);
    }
  }
  &__subheading {
    font-size: rem($h4);
    font-weight: 500;
    color: $primary_text;
  }
  &__second-row {
    background-color: $primary_background-white;
    margin-top: rem(25px);
    @include mq(medium-large) {
      min-width: 500px;
      margin-top: 0;
    }
  }
  &__artwork {
    height: 100%;
    width: 100%;
  }
}
.connect {
  margin: rem(55px) 0;
  @include mq(medium-large) {
    margin: rem(85px) 0;
  }
  &__heading {
    text-align: center;
    font-size: rem($h3);
    color: $primary_text;
    @include mq(medium) {
      font-size: rem($h2);
    }
  }
  &__icons {
    margin-top: rem(30px);
    @include mq(medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      margin-top: rem(50px);
    }
  }
  &__icon-wrapper {
    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
    @include mq(medium) {
      margin-bottom: 0;
    }
  }
  &__icon {
    width: max-content;
    padding: rem(35px) rem(20px);
    background-color: $primary_background-white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 10px 0 rgba($secondary_background_dark, 0.1);
    display: grid;
    place-items: center;
    margin: 0 auto;
    svg {
      color: #157eee;
    }
  }
  &__icon-text {
    font-size: rem($h3);
    font-weight: 500;
    color: #000;
    padding: rem(35px) 0 rem(25px);
    text-align: center;
  }
  &__icon-button {
    border: none;
    background-color: $secondary_background;
    color: $primary_text_white;
    padding: rem(10px) rem(65px);
    border-radius: rem(55px);
    cursor: pointer;
    font-size: rem($h3);
    font-weight: 600;
    box-shadow: 2px 4px rgba($secondary_background_dark, 0.1);
    display: table;
    margin: 0 auto;
  }
}
.experience {
  margin: rem(55px) 0;
  @include mq(medium-large) {
    margin: rem(85px) 0;
  }
  .container {
    overflow: hidden;
  }
  &__button-wrapper {
    display: flex;
    align-items: center;
    gap: rem(35px);
    padding-bottom: rem(55px);
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    @include mq(medium) {
      justify-content: center;
    }
  }
  &__button {
    border: none;
    background-color: $primary_background;
    color: $primary_text;
    padding: rem(10px) rem(45px);
    border-radius: rem(55px);
    cursor: pointer;
    font-size: rem($h4);
    font-weight: 600;
    box-shadow: 0 2px 3px 1px rgba($secondary_background_dark, 0.2);
    text-transform: uppercase;
    &--active {
      background-color: $primary_background_orange;
      color: $primary_text_white;
    }
  }
  &__wrapper {
    @include mq(medium) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: rem(35px);
    }
  }
  &__first-row {
    grid-column: 1/ 5;
    background-color: $secondary_background;
  }
  &__first-row-wrapper {
    min-height: rem(280px);
    margin: auto;
    display: grid;
    place-items: center;
    padding: rem(35px) rem(15px);
    h3,
    p {
      color: $primary_background-white;
    }
  }
  &__second-row {
    grid-column: 5/ -1;
    margin-top: rem(20px);
    @include mq(medium) {
      margin-top: 0;
    }
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__info-heading {
    font-size: rem($h3);
    color: $secondary_text_orange;
    text-transform: uppercase;
  }
  &__info-list {
    list-style: none;
    font-size: rem($h3-md);
    font-weight: 500;
    margin-top: rem(15px);
  }
  &__info-button {
    margin-top: auto;
    padding-bottom: rem(10px);
    svg {
      margin: 0 0 -4px 10px;
    }
  }
}
.impression {
  padding: rem(25px) 0 rem(55px);
  background-color: $secondary_background;
  &__heading {
    text-align: center;
    font-size: rem($h2);
    color: $primary_background-white;
  }
  &__box-wrapper {
    padding-top: rem(35px);
    @include mq(medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      padding-top: rem(55px);
    }
  }
  &__box {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 2px dashed $primary_background-white;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: rem(25px);
    }
    @include mq(medium) {
      margin: 0;
      height: 250px;
      width: 250px;
    }
    &--bg-white {
      background-color: $primary_background-white;
      border: none;
    }
    &--bg-orange {
      background-color: $primary_background_orange;
      border: none;
    }
  }
  &__box-title {
    font-size: rem($h3-md);
    font-weight: 600;
    color: $secondary_text;
    text-align: center;
    padding-bottom: rem(15px);
    @include mq(medium) {
      font-size: rem($h2-md);
    }
  }
  &__box-text {
    font-size: rem($h4);
    font-weight: 600;
    color: $secondary_text;
    text-align: center;
    padding-bottom: rem(15px);
    text-shadow: 0 2px 3px 1px rgba($secondary_background_dark, 0.3);
    @include mq(medium) {
      font-size: rem($h3-md);
    }
    &--white {
      color: $primary_background-white;
    }
  }
}
.slider {
  margin: rem(55px) 0;
  @include mq(medium-large) {
    margin: rem(75px) 0;
  }
  overflow: hidden;
  &__heading {
    text-align: center;
  }
  &__card-dot-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
    margin: rem(25px) rem(15px);
  }
  .swiper-pagination-bullet {
    height: rem(6px);
    width: rem(17px);
    border-radius: rem(17px);
    background-color: rgba($secondary_background, 0.6);
    &-active {
      width: rem(27px);
      background-color: rgba($secondary_background, 0.9);
    }
  }
  &__card-wrapper {
    display: flex;
    justify-content: center;
  }
  &__card {
    flex: 0 0 85%;
    background-color: $primary_background-white;
    border-radius: rem(10px);
    @include mq(medium-large) {
      flex: 0 0 65%;
    }
  }
  &__card-main {
    margin: rem(10px);
    padding: rem(30px) rem(20px);
    border-radius: rem(10px);
    border: 1px dotted $primary_background_orange;
    @include mq(medium-large) {
      display: flex;
      gap: rem(45px);
    }
  }
  &__card-image-wrapper {
    max-width: 280px;
    background-color: rgba($secondary_background_dark, 0.4);
  }
  &__card-image {
    width: 100%;
    object-fit: contain;
  }
  &__card-text-wrapper {
    margin-top: rem(15px);
    display: flex;
    flex-direction: column;
    @include mq(medium-large) {
      margin-top: 0;
      display: block;
    }
  }
  &__card-heading {
    font-size: rem($h3-md);
    color: $primary_text;
    @include mq(medium) {
      font-size: rem($h2-md);
    }
  }
  &__card-text {
    margin-top: auto;
    font-size: rem($h5);
    @include mq(medium) {
      font-size: rem($h4);
    }
  }
  &__card-arrow-wrapper {
    display: none;
    @include mq(medium-large) {
      display: flex;
      justify-content: center;
      gap: rem(65px);
      margin: rem(35px) 0 0;
    }
  }
  &__card-arrow {
    background-color: $primary_background-white;
    padding: rem(10px);
    border-radius: 50%;
    cursor: pointer;
    svg {
      fill: $secondary_background;
    }
  }
}
.hero-secondary {
  margin: rem(35px) rem(25px);
  box-shadow: 0 0 rem(2px) rem(4px) rgba($secondary_background_dark, 0.1);
  overflow: hidden;
  .container {
    padding: 0;
  }
  &__wrapper {
    position: relative;
  }
  &__card {
    max-height: 50vh;
    display: grid;
    place-items: center;
    @include mq(medium-large) {
      max-height: 80vh;
    }
  }
  &__card-text-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: $primary_background;
    padding: rem(25px) rem(35px);
    display: grid;
    place-items: center;
    @include mq(medium-large) {
      width: 280px;
      height: 180px;
    }
  }
  &__card-image-wrapper {
    width: 100%;
    height: 100%;
  }
  &__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__card-arrow {
    position: absolute;
    top: 50%;
    z-index: 9999;
    display: grid;
    place-items: center;
    height: rem(50px);
    width: rem(50px);
    border-radius: 50%;
    background-color: $primary_background-white;
    cursor: pointer;
    &--left {
      left: rem(20px);
    }
    &--right {
      right: rem(20px);
    }
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
